/*
CSS framework by Lyndsey https://github.com/lyndseybrowning/CSS-Framework
*/
.container { max-width: 1280px; margin: 1em auto; }
.container-pad { padding:0 0 1em 1em; }
.container:after {
    content: "";
    display: table;
    clear: both;
}

[class*='grid-'] { float:left; padding-right:1em; }
.last { padding-right:0px; }

.grid-1-12 { width: 8.33% }
.grid-2-12 { width: 16.66% }
.grid-3-12 { width: 25% }
.grid-4-12 { width: 33.33% }
.grid-5-12 { width: 41.66% }
.grid-6-12 { width: 50% }
.grid-7-12 { width: 58.33% }
.grid-8-12 { width: 66.66% }
.grid-9-12 { width: 75% }
.grid-10-12 { width: 83.33% }
.grid-11-12 { width:91.66%; }
.grid-12-12 { width:100%; }

.content { padding:1em; background:#e3e2de; }

@media only screen and (max-width: 600px) {
          
    .container-pad { padding-right:1em; }
    
    [class*='grid-'] { 
        width:100%;
        padding:0;
    }    
}
